<app-header></app-header>
<section class="sectionA w-100">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div id="carousels" class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets\Services\Software Solutions\futurism-perspective-digital-nomads-lifestyle.jpg"
                    class="img-fluid d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="assets\Services\Software Solutions\website-hosting-concept-with-bright-light.jpg"
                    class=" img-fluid d-block w-100" alt="">
            </div>
            <!-- <div class="carousel-item">
                <img src="assets\Services\Electronics\modern-stationary-collection-arrangement.jpg"
                    class="img-fluid d-block w-100" alt="">
            </div> -->
            <div id="c-text" class="carousel-caption top-0 " style="margin-top: 200px !important;">
                <h1 class="sectionA-text1 mt-5 fw-bolder">ELEVATE YOUR ELECTRONICS EXPERIENCE WITH <br> <span>Winged !</span></h1>
                <p class="sectionA-text2 my-5 fs-5">Your Ultimate Destination for Electronics Services.</p>
                <a href="tel:91+9966985834"><button class="sectionA-button mt-2 mx-3 cssbuttons-io">
                        <!-- href="https://api.whatsapp.com/send?phone=919730856363" -->
                        <span>
                            Book a service by single tap <i class="fa-solid fa-circle-chevron-right fa-beat-fade fa-2xl"
                                style="padding-left: 15px;"></i></span>
                    </button></a>
            </div>
        </div>
    </div>
</section>

<section id="section2 ">
    <div class="container p-5">
        <!-- <h4 class=" text-white">About Winged!</h4> -->
        <p id="textA" class="p-4 fw-bolder">At <span class="winged">Winged</span> , we specialize in providing top-notch electronics installations and repairs to keep your devices running smoothly. Whether it's your TV, computer, laptop, mobile phone, or Wi-Fi/WLAN equipment, etc. We've got you covered with our expert services.
        </p>
    </div>
</section>

<div class="col d-flex justify-content-center">
    <hr class="w-75 border-3">
</div>

<!-- <section id="section3 ">
    <div class=" container rounded-5 overflow-hidden">
        <div class="row">
            <div class="col text-center">
                <h2>CONTRACTS</h2>
                <p class="text3">Our Extensive Range of Contracts.</p>
            </div>
        </div>
        <div id="plans-div" class="row row-cols-1 row-cols-md-3 g-4 p-5">
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"
                    routerLink="/winged-service-1">
                    <img src="assets\Services\Painting and Renovations\basic.jpg" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Basic</h3>
                        <hr>
                        <p><span style="font-size: 100px; color: yellow;">₹200</span>rs per meter.</p>
                        <button type="button" class="btn btn-info mt-5" style="color: #ffffff;" routerLink="contact-us">
                            Book Now <i class="fa-solid fa-circle-chevron-right fa-beat-fade fa-lg"
                                style="padding-left: 5px;"></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center">
                    <img src="assets\Services\Painting and Renovations\premium.jpg" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Premium</h3>
                        <hr>
                        <p><span style="font-size: 100px; color: yellow;">₹350</span>rs per meter.</p>
                        <button type="button" class="btn btn-info mt-5" style="color: #ffffff;"
                            routerLink="contact-us">Book Now <i
                                class="fa-solid fa-circle-chevron-right fa-beat-fade fa-lg"
                                style="padding-left: 5px;"></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center">
                    <img src="assets\Services\Painting and Renovations\extreme.jpg" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Extreme</h3>
                        <hr>
                        <p><span style="font-size: 100px; color: yellow;">₹500</span>rs per meter.</p>
                        <button type="button" class="btn btn-info mt-5" style="color: #ffffff;"
                            routerLink="contact-us">Book Now <i
                                class="fa-solid fa-circle-chevron-right fa-beat-fade fa-lg"
                                style="padding-left: 5px;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- <div class="col d-flex justify-content-center">
    <hr class="w-75 border-3">
</div> -->


<section class="section4 mt-5 ">
    <div class="container text-center bg-white rounded-5">
        <div class="">
            <h2 style="color: #a2b9ff;">WEB APPLICATIONS</h2>
        </div>
        <div class="container overflow-hidden mt-2 ">
            <div class="col text-start p-5">
                <h1><b> Winged Web Application Services</b></h1>
                <hr class="w-50  text-primary" style="opacity: 1;">
                <p class="mt-5"> <span class="winged" style="color: black;"><b>Winged</b></span>  is your trusted partner for all your electronics installations and repair needs. With a passion for technology and a commitment to excellence, we strive to deliver top-quality services that keep your devices running smoothly.</p>
            </div>
            <div class="col">
                <!-- Services Start -->
                <div class="container-fluid pb-5">
                    <div class="container">
                        <div class="row g-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="room-item shadow rounded overflow-hidden">
                                    <div class="position-relative">
                                        <img class="img-fluid" src="assets\Services\Software Solutions\ui-ux-representations-with-laptop.jpg" alt="">
                                        <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹5000 - ₹1 Lack</small>
                                    </div>
                                    <div class="p-4 mt-2">
                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0"><b>WEB Designing</b></h5>
                                            <div class="ps-2">
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                            </div>
                                        </div>
                                        <!-- <div class="d-flex mb-3">
                                            <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                            <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                            <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                                        </div> -->
                                        <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="room-item shadow rounded overflow-hidden">
                                    <div class="position-relative h-100">
                                        <img class="img-fluid" src="assets\Services\Software Solutions\programming-background-with-person-working-with-codes-computer.jpg" alt="">
                                        <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹5000 - ₹2 Lack</small>
                                    </div>
                                    <div class="p-4 mt-2">
                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0"><b>Web Developing</b></h5>
                                            <div class="ps-2">
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                            </div>
                                        </div>
                                        <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="room-item shadow rounded overflow-hidden">
                                    <div class="position-relative h-100">
                                        <img class="img-fluid" src="assets\Services\Electronics\smart-speaker-house-control-innovative-technology (1).jpg" alt="">
                                        <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹699</small>
                                    </div>
                                    <div class="p-4 mt-2">
                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0"><b>Bug Fixing</b></h5>
                                            <div class="ps-2">
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                            </div>
                                        </div>
                                        <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="room-item shadow rounded overflow-hidden">
                                    <div class="position-relative h-100">
                                        <img class="img-fluid" src="\assets\Services\Electronics\view-round-modern-webcam-with-copy-space (1).jpg" alt="">
                                        <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹499</small>
                                    </div>
                                    <div class="p-4 mt-2">
                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0"><b>Error Resolving</b></h5>
                                            <div class="ps-2">
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                            </div>
                                        </div>
                                        <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="room-item shadow rounded overflow-hidden">
                                    <div class="position-relative h-100">
                                        <img class="img-fluid" src="assets\Services\Electronics\high-angle-wi-fi-router-with-vacuum-cleaner (1).jpg" alt="">
                                        <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹100</small>
                                    </div>
                                    <div class="p-4 mt-2">
                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0"><b>Hosting</b></h5>
                                            <div class="ps-2">
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                                <small class="fa fa-star text-primary"></small>
                                            </div>
                                        </div>
                                        <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Services End -->
            </div>
        </div>


    </div>
</section>





<!-- <section class="section5 my-5 pt-5 px-5">
    <div class="fluid-container text-center mt-5">
        <div class="">
            <h2 class="text-wrap">REPAIRS</h2>
            <p class="text3">Repairs and Component replacement services.</p>
        </div>
        <br>
        <div>
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden bg-white">
                            <div class="position-relative">
                                <img class="img-fluid" src="assets\Services\Electronics\mobile-phone-screen-digital-device (2).jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹100/Sqft</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0"><b>Mobile Repairs</b></h5>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden bg-white">
                            <div class="position-relative">
                                <img class="img-fluid" src="assets\Services\Electronics\overhead-view-digital-tablet-with-blank-screen-display-blue-background (1).jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹100/Sqft</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0"><b>Tablet Repairs</b></h5>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden bg-white">
                            <div class="position-relative">
                                <img class="img-fluid" src="assets\Services\Electronics\minimal-laptop-ceramic-pots (1).jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹100/Sqft</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0"><b>Laptop Repairs</b></h5>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden bg-white">
                            <div class="position-relative">
                                <img class="img-fluid" src="assets\Services\Electronics\view-horizontal-bluetooth-speaker-with-simple-minimal-modern-design (1).jpg" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">₹100/Sqft</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0"><b>Speaker Repairs</b></h5>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col d-flex justify-content-center">
    <hr class="w-75 border-3">
</div>


<section class="sectionE container my-5 rounded-5" style="background-color: #3a0449;">
    <div class="row p-5">
        <div id="TicketForm" class="col-md-6">
            <h2>Book your service Now!</h2>

            <h3 class="mt-5 p-3 text-white">
                Ready to experience the Winged difference? Get in touch with us today to discuss your project
                requirements and schedule a consultation. Whether you need a quick repair or a complete renovation,
                we're here to help you every step of the way.
            </h3>
        </div>
        <div id="TicketForm" class="col-md-6">
            <form [formGroup]="ticketForm" class="bg-light rounded-5 d-flex row p-4" (ngSubmit)="newTempTicket();"
                action="">
                <div class="form-floating col-12 mt-3 mb-5">
                    <h1><b>Service Form</b></h1>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control  px-3" name="customerName" id="floatingInput" required
                        minlength="4" formControlName="customerName" placeholder="name@example.com">
                    <div class="px-3"
                        *ngIf="ticketForm.get('customerName')?.touched && ticketForm.get('customerName')?.hasError('minlength')"
                        style="color: red; font-size: 10px;">kindly provide us proper name</div>
                    <label class="ms-3" for="floatingInput">Full Name</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control  px-3" id="floatingInput" formControlName="email"
                        placeholder="name@example.com">
                    <div class="px-3"
                        *ngIf="ticketForm.get('email')?.touched && ticketForm.get('email')?.hasError('email')"
                        style="color: red; font-size: 10px;">kindly provide us valid email id</div>
                    <label class="ms-3" for="floatingInput">Email address</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control px-3" id="floatingInput" formControlName="phone"
                        placeholder="name@example.com">
                    <div class="px-3"
                        *ngIf="ticketForm.get('phone')?.touched && ticketForm.get('phone')?.hasError('minlength')"
                        style="color: red; font-size: 10px;">kindly use this format 91xxxxxxxxxx</div>
                    <label class="ms-3" for="floatingInput">Phone</label>
                </div>
                <div class="form-floating col-12 mb-3">
                    <textarea class="form-control px-3" placeholder="Leave a comment here" formControlName="address"
                        id="floatingTextarea"></textarea>
                    <label class="ms-3" for="floatingTextarea">Address</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <select class="form-select  px-3" id="floatingSelect" formControlName="serviceField"
                        aria-label="Floating label select example" (change)="filteredSubFields()">
                        <option selected value="">----- Select -----</option>
                        <option *ngFor="let field of serviceFields" value={{field.serviceFieldId}}>{{field.fieldName}}
                        </option>
                    </select>
                    <label class="ms-3" for="floatingSelect">Service Field</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <select class="form-select  px-3" id="floatingSelect" formControlName="subField"
                        aria-label="Floating label select example" (change)="filteredActualServices()">
                        <option selected value="">----- Select -----</option>
                        <option *ngFor="let subField of subFields" value={{subField.subServiceId}}>
                            {{subField.subServiceName}}</option>
                    </select>
                    <label class="ms-3" for="floatingSelect">Sub Service</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <select class="form-select  px-3" id="floatingSelect" formControlName="actualService"
                        aria-label="Floating label select example">
                        <option selected value="">----- Select -----</option>
                        <option *ngFor="let actualService of actualservices" value={{actualService.actualServiceId}}>
                            {{actualService.service}}</option>
                    </select>
                    <label class="ms-3" for="floatingSelect">Select The Service</label>
                </div>
                <div class="form-floating col-12 mb-3">
                    <textarea class="form-control px-3" formControlName="issueDescription"
                        placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label class="ms-3" for="floatingTextarea2">Issue In Detail</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                    <button class="form-submit-btn btn btn-primary rounded-5" type="submit">Create a Ticket</button>
                </div>
            </form>
        </div>
    </div>
</section> -->

<app-footer></app-footer>