<section class="containe mt-5 pt-5 text-center justify-content-center">
    <img src="assets\Logo\Winged__1_-removebg-preview.png" width="100" alt="">
    <h1 class="">Create a new password !</h1>
    <form class="p-5 d-flex justify-content-center" [formGroup]="FPform" action="" (ngSubmit)="forgotPassword()">
        <div class="col-12 col-md-4">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" id="floatingInput"
                    placeholder="name@example.com">
                <!-- <div class="px-3 text-start"
                    *ngIf="loginform.get('username')?.touched && loginform.get('username')?.hasError('email')"
                    style="color: red; font-size: 12px;">*Enter Valid email</div> -->
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" formControlName="password" id="floatingPassword"
                    placeholder="password">
                <!-- <div class="px-3 text-start"
                    *ngIf="loginform.get('password')?.touched && loginform.get('password')?.hasError('minlength')"
                    style="color: red; font-size: 12px;">*Enter Valid password</div> -->
                <label for="floatingPassword">New Password</label>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary w-50">Submit</button>
            </div>            
        </div>
    </form>
</section>