<app-header></app-header>
<section class="sectionA mt-5 pt-3">
  <div class="container mt-5 pt-5">
    <h4 class=" text-white">About Winged!</h4>
    <p id="about-text" class="pt-3 fw-bolder">At <span class="winged">Winged</span> , we are committed to providing
      high-quality services to meet all your building, repair, and maintenance needs. With a team of skilled
      professionals and a dedication to excellence, we strive to deliver exceptional results that exceed our customers'
      expectations.
    </p>
  </div>
</section>


<div class="video-info section" style="margin-top: 10%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="video-thumb">
          <img src="assets/About/IMG_20200310_202616_057.jpg" width="100%" alt="">
          <!-- <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a> -->
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="section-heading">
          <h2 class="fw-bold text-center mb-5">MEET OUR FOUNDER &amp; CEO</h2>
          <div class="line-dec"></div>
          <p>Meet our visionary founder "<span class="winged" style="font-size:x-large;"> Dileep Varma </span>" , whose passion for technology and commitment to customer satisfaction drive our company's success.</p>
        </div>
        <div class="text-end">
          <img src="assets\About\signature.png" width="300" alt="">
        </div>
        <!-- <div class="skills">
          <div class="skill-slide marketing">
            <div class="fill"></div>
            <h6>SEO Marketing</h6>
            <span>90%</span>
          </div>
          <div class="skill-slide digital">
            <div class="fill"></div>
            <h6>Digital Marketing</h6>
            <span>80%</span>
          </div>
          <div class="skill-slide media">
            <div class="fill"></div>
            <h6>Social Media Management</h6>
            <span>95%</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>


<section class="sectionC mt-5 pt-3">
  <div class="container bg-white rounded-5 overflow-hidden">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="section-heading p-5">
          <h1 class="text-center m-5 fw-bold" style="color: #a2b9ff;">OUR STORY !</h1>
          <div class="line-dec"></div>
          <p><span class="winged text-black fw-bold">Winged </span> was founded with a simple yet powerful vision: to be
            the go-to destination for reliable and trustworthy services. Our journey began with a passion for
            craftsmanship and a desire to make a positive impact in our community. Over the years, we have grown and
            expanded our offerings, but our core values remain the same: integrity, professionalism, and customer
            satisfaction.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-2">
          <img src="assets\About\29813412_7589810.jpg" class="rounded-5" width="100%" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="p-2">
          <img src="assets/About/9590759.jpg" class="rounded-5" width="100%" alt="">
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="section-heading p-5">
          <h1 class="text-center m-5  fw-bold" style="color: #a2b9ff;">OUR MISSION!</h1>
          <div class="line-dec"></div>
          <p>Our mission at <span class="winged text-black fw-bold">Winged</span> is to deliver reliable
            solutions tailored to our customer's needs, while upholding the highest standards of quality and safety. We are committed to building lasting relationships with our customers based on trust, transparency, and mutual respect. We strive to transform this era by providing much easier services through technology. </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="sectionE container-fluid mt-5">
  <div class="row text-center">
    <div class="bg-white">
      <h2 style="color: #a2b9ff;">WHY</h2>
      <p class="text3">Why Choose Winged?</p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-2 g-3">
      <div class="col justify-content-center ">
          <div id="cardD" class="card m-5 rounded-0 border-0">
              <img src="assets\Why Winged\Screenshot 2024-04-08 213121.png" alt="">
          </div>
      </div>
      <div class="col justify-content-center ">
          <div id="cardD" class="card m-5 rounded-0 border-0">
              <img src="assets\Why Winged\Screenshot 2024-04-08 213138.png" alt="">
          </div>
      </div>
      <div class="col justify-content-center ">
          <div id="cardD" class="card m-5 rounded-0 border-0">
              <img src="assets\Why Winged\Screenshot 2024-04-08 213154.png" alt="">
          </div>
      </div>
      <div class="col justify-content-center ">
          <div id="cardD" class="card m-5 rounded-0 border-0">
              <img src="assets\Why Winged\Screenshot 2024-04-18 142453.png" alt="">
          </div>
      </div>
      <div class="col justify-content-center ">
          <div id="cardD" class="card m-5 rounded-0 border-0">
              <img src="assets\Why Winged\Screenshot 2024-04-18 142511.png" alt="">
          </div>
      </div>
      <div class="col justify-content-center ">
          <div id="cardD" class="card m-5 rounded-0 border-0">
              <img src="assets\Why Winged\Screenshot 2024-04-18 142533.png" alt="">
          </div>
      </div>
  </div>
  </div>
</section>