@media screen and (max-width: 768px) {
  #about-text {
    margin-bottom: 100px !important;
  }
}

section h2 {
  font-size: 130px;
  font-weight: 900;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  section h2 {
    font-size: 50px;
  }
}

.sectionE {
  background: image-set('assets/Home/palm-leaves-corner-pink-backdrop.jpg');
}

.sectionE p {
  font-size: 30px;
  color: #000000;
}

#cardD {
  overflow: hidden;
  border: 20px solid white;
}

#cardD img {
  object-fit: fill;
}

#cardD .cardD-icon {
  position: absolute;
}

#cardD .cardD-icon img {
  width: 80px;
}

.winged {
  color: white;
  font-family: "Pacifico", cursive;
}



/* 
---------------------------------------------
Infos Style
--------------------------------------------- 
*/

.video-info {
  background-color: #343434;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 60px;
}

.video-info .video-thumb {
  position: relative;
  border-radius: 23px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
  margin-top: -60px;
}

.video-info .video-thumb a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-23px, -23px);
  background-color: #fff;
  border-radius: 50%;
  color: #5b03e4;
  display: inline-block;
  text-align: center;
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.video-info .section-heading {
  padding: 60px 15px 30px 15px;
}

.video-info .section-heading h2 {
  color: #fff;
  /* font-size: 50px; */
  padding-right: 30px;
}

.video-info .section-heading .line-dec {
  background: #fff;
}

.video-info .section-heading p {
  color: #fff;
}

.video-info .skills {
  padding: 0px 15px;
}

.video-info .skill-slide {
  position: relative;
  width: 100%;
  background-color: rgba(249, 235, 255, 0.1);
  height: 10px;
  border-radius: 5px;
  margin-bottom: 60px;
}

.video-info .skill-slide .fill {
  height: 10px;
  background-color: #5b03e4;
  border-radius: 5px;
}

.video-info .skill-slide h6 {
  position: absolute;
  color: #fff;
  font-size: 15px;
  left: 0;
  top: -25px;
}

.video-info .skill-slide span {
  position: absolute;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  top: -25px;
}

.video-info .marketing .fill {
  width: 90%;
}

.video-info .digital .fill {
  width: 80%;
}

.video-info .media .fill {
  width: 95%;
}

.video-info .marketing span {
  right: 10%;
}

.video-info .digital span {
  right: 20%;
}

.video-info .media span {
  right: 5%;
}