<section class="sectionA mt-5 pt-3">
    <div class="container mt-5 pt-5">
        <h4 class=" text-white">Help Us Change the Way People Play!</h4>
        <p id="textA" class="pt-3 fw-bolder"><span>We’re Hiring</span></p>
        <p>At <span class="winged">Winged</span> , we believe in creating innovative solutions that empower individuals
            and businesses to thrive in
            the digital age. As a rapidly growing technology company, we are always looking for talented individuals who
            are passionate about making a difference and driving positive change in the world.
        </p>
    </div>
</section>



<section class="sectionB mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="sectionF  my-5">
    <div class="container-fluuid text-center">
        <div>
            <h2>LOCATE US!</h2>
            <P class="text3">You can reach us here!</P>
        </div>
        <div class="col-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61134.22682451392!2d82.20888985460908!3d16.732380565929297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a381fd8f6cf57c9%3A0x35ba5f35d97ba721!2sYanam%2C%20Puducherry!5e0!3m2!1sen!2sin!4v1708507486010!5m2!1sen!2sin"
                height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="w-75 rounded-5 border border-5"></iframe>
        </div>
    </div>
</section>