<footer class="container-fluid bg-dark text-light top-0 bottom-0 mb-0 pb-0">
    <div class="row text-start overflow-hidden">
        <div id="FS1" class="col-md-6 mt-4 p-5 text-center">
            <!-- <h1><a class="navbar-brand Logo ms-5 fw-bold text-white me-5" href="#">Winged</a></h1> -->
            <img src="assets\Logo\Finalized\wings care-fotor-bg-remover-20240502212632.png" height="100" alt="">
            <p class="p-5">Ready to experience the difference with Winged? Contact us today to discuss your project
                requirements and schedule a consultation. Let us be your trusted partner in achieving your goals,
                whatever they may be.
            </p>
            <div class="d-flex justify-content-center m-0">
                <ul>
                    <li><img src="assets\Footer\search.png" class="social-icon px-3" alt="image"></li>
                    <li><img src="assets\Footer\youtube.png" class="social-icon px-3" alt="image"></li>
                    <li><img src="assets\Footer\facebook.png" class="social-icon px-3" alt="image"></li>
                    <li><img src="assets\Footer\instagram.png" class="social-icon px-3" alt="image"></li>
                    <li><img src="assets\Footer\twitter.png" class="social-icon px-3" alt="image"></li>
                </ul>
            </div>
        </div>
        <div class="d2 col-md-3 mt-5">
            <h3 class="mt-5 text-white">Quick Links</h3>
            <p><i class="fa-solid fa-angles-right"></i> &nbsp;About</p>
            <p><i class="fa-solid fa-angles-right"></i> &nbsp;Our Process</p>
            <p><i class="fa-solid fa-angles-right"></i> &nbsp;Pricing &Fare</p>
            <p><i class="fa-solid fa-angles-right"></i> &nbsp;Our Services</p>
            <p><i class="fa-solid fa-angles-right"></i> &nbsp;Contact Us</p>
        </div>
        <div class="d3 col-md-3 mt-5">
            <h3 class="mt-5 text-white">Contact Us</h3>
            <p><i class="fa-solid fa-phone"></i> &nbsp;9966985834</p>
            <p><i class="fa-solid fa-envelope"></i> &nbsp;contact@winged.com</p>
            <p><i class="fa-solid fa-location-dot"></i> &nbsp;Bezawada Gardens, Yanam, <br><p class="ms-3">Puducherry - 533464</p></p>
        </div>
    </div>






</footer>