<footer class="container-fluid bg-dark text-light top-0 bottom-0 mb-0 pb-0">
    <div class="row text-center">
        <div id="FS1" class="col-md-4 mt-4 p-5 ">
            <h1><a class="navbar-brand Logo ms-5 fw-bold text-white me-5" href="#">Winged</a></h1>
            <p class="p-5">Ready to experience the difference with Winged? Contact us today to discuss your project requirements and schedule a consultation. Let us be your trusted partner in achieving your goals, whatever they may be.
            </p>
            <div class="d-flex justify-content-center align-items-center">
                <ul>
                    <li><img src="assets\Footer\search.png" class="social-icon px-3" alt="image"></li>
                    <li><img src="assets\Footer\youtube.png"  class="social-icon px-3" alt="image"></li>
                    <li><img src="assets\Footer\facebook.png"  class="social-icon px-3" alt="image"></li>
                    <li><img src="assets\Footer\instagram.png"  class="social-icon px-3" alt="image"></li>
                    <li><img src="assets\Footer\twitter.png"  class="social-icon px-3" alt="image"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <h3 class="mt-5 text-white">Quick Links</h3>
            <p>About</p>
            <p>Our Process</p>
            <p>Pricing &Fare</p>
            <p>Our Services</p>
            <p>Contact Us</p>
        </div>
        <div class="col-md-4 mt-5">
            <h3 class="mt-5 text-white">Contact Us</h3>
            <p>9966985834</p>
            <p>contact@winged.com</p>
            <p>Bezawada Gardens, Yanam, <br>Puducherry - 533464</p>
        </div>
    </div>
</footer>
