<app-header></app-header>
<section class="sectionA mb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">                
                <h2>OUR SERVICES</h2>
                <p class="text3 mb-5">At <span class="winged">Winged</span> , we offer a comprehensive range of services to meet all your building, repair, and maintenance needs. From electrical work to software development, we've got you covered. Explore our services below:
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mt-2 g-4 bg-white p-5 rounded-5">
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center" routerLink="/winged-service-1">
                    <img src="assets\Services\974db436-1258-4f0c-935e-58fc7c615763-11668278_20945161.png" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Painting and Renovation</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"  routerLink="/winged-service-2">
                    <img src="assets\Services\16159881_5700396-removebg-preview.png" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Electronics</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"  routerLink="/winged-service-3">
                    <img src="assets\Services\9676111_4219239-removebg-preview (1).png" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Electricals</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"  routerLink="/winged-service-4">
                    <img src="assets\Services\10276612_4421964-removebg-preview.png" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Software & Applications</h3>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"  routerLink="/winged-service-5">
                    <img src="assets\Services\9926277_4311006-removebg-preview.png" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Plumbing</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"  routerLink="/winged-service-6">
                    <img src="assets\Services\10780019_19197945-fotor-bg-remover-20240420184720.png" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Mechanicals</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"  routerLink="/winged-service-7">
                    <img src="assets\Services\9319830_4121826-removebg.png" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Carpentry</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"  routerLink="/winged-service-8">
                    <img src="assets\Services\13107136_5138430-removebg-preview.png" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Civil Constructions</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

