<header class="container">
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container align-middle rounded-4 mt-2">
            <a class="navbar-brand Logo ms-5 fw-bold" routerLink="">Winged</a>
            <!-- <i class="fa-brands fa-studiovinari" style="font-size: 40px;"></i> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="Winged-title" id="WingedNavbarLabel">Winged</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
                        <li class="nav-item">
                            <a [class.active]="activeRoute === '/' || activeRoute === ''" class="nav-link  mx-lg-2" data-bs-dismiss="offcanvas" aria-current="page" routerLink="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a [class.active]="activeRoute === '/about'" class="nav-link mx-lg-2" data-bs-dismiss="offcanvas" routerLink="about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a [class.active]="activeRoute === '/our-services'" class="nav-link mx-lg-2" data-bs-dismiss="offcanvas" routerLink="our-services">Services</a>
                            <!-- <a [class.active]="activeRoute === '/our-services'" class="nav-link dropdown-toggle mx-lg-2" data-bs-dismiss="offcanvas" routerLink="our-services" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/winged-service-1">Paintings and Renovations</a></li>
                                <li><a class="dropdown-item" href="#">Electricals</a></li>
                                <li><a class="dropdown-item" href="#">Electronics</a></li>
                                <li><a class="dropdown-item" href="#">Software solutions</a></li>
                                <li><a class="dropdown-item" href="#">Mechanicals</a></li>
                                <li><a class="dropdown-item" href="#">Carprntry</a></li>
                                <li><a class="dropdown-item" href="#">Plumbing</a></li>
 
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li> 
                            </ul>-->
                        </li>
                        <li class="nav-item">
                            <a [class.active]="activeRoute === '/careers'" class="nav-link mx-lg-2" data-bs-dismiss="offcanvas" routerLink="careers">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a [class.active]="activeRoute === '/contact-us'" class="nav-link mx-lg-2" data-bs-dismiss="offcanvas" routerLink="contact-us">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex mt-0 mx-lg-2" role="search">
                        <input class="form-control me-2 rounded-5" type="search" placeholder="Search" aria-label="Search">
                        <button [class.active]="activeRoute === '/user-account'" class="border-0 bg-transparent ms-2" data-bs-dismiss="offcanvas" routerLink="user-account">
                            <i class="fa-solid fa-user-astronaut" style="font-size: x-large;"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <script>
        function changeColor(clickedId) {
            // Reset all links to black color
            document.getElementById('homeLink').style.color = 'black';
            document.getElementById('aboutLink').style.color = 'black';
            document.getElementById('servicesLink').style.color = 'black';
            document.getElementById('careersLink').style.color = 'black';
            document.getElementById('contactLink').style.color = 'black';

            // Add blue color to the clicked link
            document.getElementById(clickedId).style.color = 'blue';
        }
    </script>

</header>
