<section class="sectionA mt-5 pt-3">
    <div class="container mt-5 pt-5">
        <h4 class=" text-white">About Winged!</h4>
        <p id="textA" class="pt-3 fw-bolder">At Winged, we are committed to providing high-quality services to meet all your building, repair, and maintenance needs. With a team of skilled professionals and a dedication to excellence, we strive to deliver exceptional results that exceed our customers' expectations.
        </p>
    </div>
</section>



<section class="sectionB mt-5 pt-3">
    <div class="container mt-5 pt-5 text-center">
        <h2>MEET THE FOUNDER</h2>
        <img src="assets\About\IMG_20200310_202616_057.jpg" width="1000" class="mt-5 img-fluid mx-auto d-block rounded-5" alt="">
    </div>
</section>



<section class="sectionC mt-5 pt-3">
    <div class="container mt-5 pt-5">
        <h4 class=" text-white">Our Story!</h4>
        <p id="textA" class="pt-3 fw-bolder">Winged was founded with a simple yet powerful vision: to be the go-to destination for reliable and trustworthy services. Our journey began with a passion for craftsmanship and a desire to make a positive impact in our community. Over the years, we have grown and expanded our offerings, but our core values remain the same: integrity, professionalism, and customer satisfaction.
        </p>
    </div>
</section>



<section class="sectionD mt-5 pt-3">
    <div class="container mt-5 pt-5">
        <h4 class=" text-white">Our Mission!</h4>
        <p id="textA" class="pt-3 fw-bolder">Our mission at Winged is to deliver reliable solutions tailored to our customers' needs, while upholding the highest standards of quality and safety. We are committed to building lasting relationships with our customers based on trust, transparency, and mutual respect.
        </p>
    </div>
</section>



<section class="sectionE">
    <div class="fluid-container text-center">
        <div class="bg-white">
            <h2 style="color: #a2b9ff;">WHY</h2>
            <p class="text3">Why Choose Winged?</p>
        </div>

        <div class="row row-cols-1 row-cols-md-3 mt-2 g-4">
            <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center ">
                <div id="cardD" class="card h-75 w-50 m-5 rounded-0">
                    <div class="cardD-icon w-100 align-items-center">
                        <img src="assets\Home\excellence.png" class="mt-5" alt="">
                        <div class="cardD-text mt-2">
                            <h3>Expertise & Excellence</h3>
                            <p class="mt-2" style="font-size: 10px; padding: 5px;"> With our wide range of services, you
                                can address multiple needs with a single point of contact, saving time and hassle.</p>
                        </div>
                    </div>
                    <img src="assets\Home\Green Pink Minimalist Doodle A4 Document.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center ">
                <div id="cardD" class="card h-75 w-50 m-5 rounded-0">
                    <div class="cardD-icon w-100 align-items-center">
                        <img src="assets\Home\guarantee.png" class="mt-5" alt="">
                        <div class="cardD-text mt-2">
                            <h3>Commitment & Quality</h3>
                            <p class="mt-2" style="font-size: 10px; padding: 5px;">Our team prioritizes quality,
                                delivering exceptional services with precision and attention to detail, from repairs to
                                installations, to exceed our customers' expectations.</p>
                        </div>
                    </div>
                    <img src="assets\Home\Green Pink Minimalist Doodle A4 Document.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center ">
                <div id="cardD" class="card h-75 w-50 m-5 rounded-0">
                    <div class="cardD-icon w-100 align-items-center">
                        <img src="assets\Home\delivery-service.png" class="mt-5" alt="">
                        <div class="cardD-text mt-2">
                            <h3>Prompt & Reliable Service</h3>
                            <p class="mt-2" style="font-size: 10px; padding: 5px;">Winged prioritizes prompt service
                                delivery, ensuring efficient task completion without compromising quality, minimal
                                schedule disruption, and maximum satisfaction.</p>
                        </div>
                    </div>
                    <img src="assets\Home\Green Pink Minimalist Doodle A4 Document.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center ">
                <div id="cardD" class="card h-75 w-50 m-5 rounded-0">
                    <div class="cardD-icon w-100 align-items-center">
                        <img src="assets\Home\solution.png" class="mt-5" alt="">
                        <div class="cardD-text mt-2">
                            <h3>Tailored Solutions</h3>
                            <p class="mt-2" style="font-size: 10px; padding: 5px;">We offer customized solutions to meet
                                individual customer needs, ensuring alignment with your goals, whether it's a small
                                repair or a large-scale project.</p>
                        </div>
                    </div>
                    <img src="assets\Home\Green Pink Minimalist Doodle A4 Document.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center ">
                <div id="cardD" class="card h-75 w-50 m-5 rounded-0">
                    <div class="cardD-icon w-100 align-items-center">
                        <img src="assets\Home\sale-tag.png" class="mt-5" alt="">
                        <div class="cardD-text mt-2">
                            <h3>Transparent Pricing & Fair</h3>
                            <p class="mt-2" style="font-size: 10px; padding: 5px;">Winged prioritizes transparency in
                                pricing, offering fair, competitive quotes that reflect the quality and value of their
                                services, without hidden fees or surprises.</p>
                        </div>
                    </div>
                    <img src="assets\Home\Green Pink Minimalist Doodle A4 Document.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center ">
                <div id="cardD" class="card h-75 w-50 m-5 rounded-0">
                    <div class="cardD-icon w-100 align-items-center">
                        <img src="assets\Home\location-pin.png" class="mt-5" alt="">
                        <div class="cardD-text mt-2">
                            <h3>Peace of Mind Guarantee</h3>
                            <p class="mt-2" style="font-size: 10px; padding: 5px;">Our commitment to quality and
                                customer satisfaction is unwavering, and we are committed to working with you to rectify
                                any issues that may arise during the project.</p>
                        </div>
                    </div>
                    <img src="assets\Home\Green Pink Minimalist Doodle A4 Document.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
