.container{
  overflow: hidden;
}
.Logo {
  font-family: "Pacifico", cursive;
  font-size: 15px;
  font-weight: 900;
}

#InSection {
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #cacaca,
    -5px -5px 10px #f6f6f6;
}

#InSection i:hover {
  color: rgb(48, 48, 206);
  font-size: x-large;
}
.fa-pen-to-square{
  color: rgb(48, 48, 206);
}
.fa-pen-to-square:hover {
  color: #5dc700;
  font-size: large;
}
.fa-right-from-bracket{
  color: rgb(48, 48, 206);
  font-size: x-large;
}
.fa-right-from-bracket:hover{
  font-size: xx-large;
}
/* #InSection img{
    filter: drop-shadow(5px 5px 5px #00000099);
} */
.nav-pills{
}

.nav button {
  padding: 10px 13px;
  box-shadow: 3px 3px 3px #cacaca,
    -3px -3px 8px #f6f6f6;
}

#InSection-text {
  box-shadow: inset 2px 2px 3px #d0d0d0,
    inset -2px -2px 3px #f0f0f0;
}

.ticketBox {
  box-shadow: inset 2px 2px 3px #d0d0d0,
    inset -2px -2px 3px #f0f0f0;
    word-wrap: break-word;
    white-space: normal;
}
.modal-content {
  width: 80%;
  margin: 0 auto;
}

.modal-body {
  padding: 0;
}

.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}

h1 {
  font-size: 2.3em;
  font-weight: bold;
}
p {
  text-align: center;
  padding-top: 2em;
  color: grey;
}

p a {
  color: #e1e1e1;
  text-decoration: none;
}

p a:hover {
  color: #fff;
}
form{
  overflow: hidden !important;
}

.ticket {
  /* width: 200px; */
  height: 100%;
  background-color: #ddc5f8;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

.ticket::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  /* background-color: #f200ff; */
  border-radius: 50%;
}

.ticket::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  /* background-color: #f200ff; */
  border-radius: 50%;
}

.ticket-Logo {
  font-family: "Pacifico", cursive;
  font-size: 15px;
  font-weight: 900;
  color: white;
}

#ticket-image {
  /* position: relative; */
  bottom: -10%;
  left: 0%;
}
.ticket-text{
  font-size: 8px;
  text-align: start;
}
#status{
  color:blue !important;
}

.icon-shape{
  box-shadow: 0 3px 5px -1px #00000017, 0 2px 3px -1px rgba(0, 0, 0, .07);
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
  color: #ffffff;
  padding: 20px 10px;
  border-radius: .5rem;
}
/* .card{
  background-color: #e4e4e4;
} */