<section id="section1">
    <div>
        <img src="assets\Services\Painting and Renovations\3d-room-interior-design-with-plants.jpg" class="w-100"
            height="800px" alt="">
        <div id="c-text" class="carousel-caption top-0 text-start"
            style="margin-top: 200px !important; transform: translateX(-100px);">
            <h1 class="mt-5 fw-bolder">ELEVATE YOUR SPACE WITH <br> <span>Winged !</span></h1>
            <p class="mt-5 fs-5">Your Premier Destination for Painting, Wood, Floor Polishings, Ceilings, and Renovation
                Services</p>
            <button type="button" class="btn btn-info mt-5" style="color: #ffffff;" routerLink="contact-us">Raise A
                Ticket <i class="fa-solid fa-circle-chevron-right fa-beat-fade fa-lg"
                    style="padding-left: 5px;"></i></button>
        </div>
    </div>
</section>

<section id="section2 ">
    <div class="container p-5">
        <!-- <h4 class=" text-white">About Winged!</h4> -->
        <p id="textA" class="p-4 fw-bolder">At <span class="winged">Winged</span> , we understand that your home
            is more than just a physical space; it's a reflection of your style, personality, and aspirations. With our
            comprehensive range of services, we are committed to transforming your living spaces into breathtaking
            havens that inspire and delight.
        </p>
    </div>
</section>

<div class="col d-flex justify-content-center">
    <hr class="w-75 border-3">
</div>

<section id="section3 ">
    <div class=" container rounded-5 overflow-hidden">
        <div class="row">
            <div class="col text-center">
                <h2>CONTRACTS</h2>
                <p class="text3">Our Extensive Range of Contracts.</p>
            </div>
        </div>
        <div id="plans-div" class="row row-cols-1 row-cols-md-3 g-4 p-5">
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center"
                    routerLink="/winged-service-1">
                    <img src="assets\Services\Painting and Renovations\basic.jpg" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Basic</h3>
                        <hr>
                        <p><span style="font-size: 100px; color: yellow;">₹200</span>rs per meter.</p>
                        <button type="button" class="btn btn-info mt-5" style="color: #ffffff;" routerLink="contact-us">
                            Book Now <i class="fa-solid fa-circle-chevron-right fa-beat-fade fa-lg"
                                style="padding-left: 5px;"></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center">
                    <img src="assets\Services\Painting and Renovations\premium.jpg" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Premium</h3>
                        <hr>
                        <p><span style="font-size: 100px; color: yellow;">₹350</span>rs per meter.</p>
                        <button type="button" class="btn btn-info mt-5" style="color: #ffffff;"
                            routerLink="contact-us">Book Now <i
                                class="fa-solid fa-circle-chevron-right fa-beat-fade fa-lg"
                                style="padding-left: 5px;"></i></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="cardB" class="card h-100 rounded-5 justify-content-center text-center">
                    <img src="assets\Services\Painting and Renovations\extreme.jpg" class="card-img-top" alt="...">
                    <div class="card-body top-50 start-50 translate-middle">
                        <h3 class="card-title p-2">Extreme</h3>
                        <hr>
                        <p><span style="font-size: 100px; color: yellow;">₹500</span>rs per meter.</p>
                        <button type="button" class="btn btn-info mt-5" style="color: #ffffff;"
                            routerLink="contact-us">Book Now <i
                                class="fa-solid fa-circle-chevron-right fa-beat-fade fa-lg"
                                style="padding-left: 5px;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br>
<section class="section4 mt-5 ">
    <div class="fluid-container text-center bg-white">
        <div class="">
            <h2 style="color: #a2b9ff;">RENOVATIONS</h2>
            <p class="text3">Why Choose Winged?</p>
        </div>
        <div class="container d-flex overflow-hidden mt-5 ">
            <div class="col-6 text-start p-5">
                <h1><b> Winged Renovation Services</b></h1>
                <p class="mt-5">At Winged, we believe that every space has the potential to be transformed into
                    something extraordinary. Whether it's a home, office, or commercial property, our dedicated team is
                    here to elevate your space to new heights through our comprehensive renovation services.</p>

                <button class="rounded-5 p-3 bg-">Explore All Renovation Services</button>
            </div>
            <div class="col-6">
                <img src="assets\Services\Painting and Renovations\AdobeStock_332326422_Preview.jpeg" alt="">
            </div>
        </div>


    </div>
</section>






<section class="section5 mt-5 pt-5 px-5">
    <div class="fluid-container text-center mt-5">
        <div class="">
            <h2 class="text-wrap">PAINTING & POLISHINGS</h2>
            <!-- <p class="text3">Why Choose Winged?</p> -->
        </div>
        <div>
            <div class="container">
                <!-- Gallery -->
                <div class="row text-wrap">
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <img src="assets\Services\Painting and Renovations\3d-rendering-minimalist-interior-with-copy-space.jpg"
                            class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                        <img src="assets\Services\Painting and Renovations\living-room-interior.jpg"
                            class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />

                        <img src="assets\Services\Painting and Renovations\images (6).jpeg"
                            class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <img src="assets\Services\Painting and Renovations\images (5).jpeg"
                            class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                        <img src="assets\Services\Painting and Renovations\chair-table-yellow-living-room-with-copy-space.jpg"
                            class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <img src="assets\Services\Painting and Renovations\Varnishes-Stains-and-Treatments.jpg"
                            class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                        <img src="assets\Services\Painting and Renovations\images (4).jpeg"
                            class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                        <img src="assets\Services\Painting and Renovations\gray-armchair-orange-living-room-with-copy-space.jpg"
                            class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                    </div>


                </div>
                <!-- Gallery -->
            </div>
        </div>
    </div>
</section>

<div class="col d-flex justify-content-center">
    <hr class="w-75 border-3">
</div>


<section class="section6 container my-5 rounded-5" style="background-color: #3a0449;">
    <div class="row p-5">
        <div id="TicketForm" class="col-md-6">
            <h3 class="mt-5 p-3 text-white">
                Ready to experience the Winged difference? Get in touch with us today to discuss your project
                requirements and schedule a consultation. Whether you need a quick repair or a complete renovation,
                we're here to help you every step of the way.
            </h3>
        </div>
        <div id="TicketForm" class="col-md-6">
            <form [formGroup]="ticketForm" class="bg-light rounded-5 d-flex row p-4" (ngSubmit)="newTempTicket();"
                action="">
                <div class="form-floating col-12 mt-3 mb-5">
                    <h1>Choose your service Here!</h1>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control  px-3" name="customerName" id="floatingInput" required
                        minlength="4" formControlName="customerName" placeholder="name@example.com">
                    <div class="px-3"
                        *ngIf="ticketForm.get('customerName')?.touched && ticketForm.get('customerName')?.hasError('minlength')"
                        style="color: red; font-size: 10px;">kindly provide us proper name</div>
                    <label class="ms-3" for="floatingInput">Full Name</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control  px-3" id="floatingInput" formControlName="email"
                        placeholder="name@example.com">
                    <div class="px-3"
                        *ngIf="ticketForm.get('email')?.touched && ticketForm.get('email')?.hasError('email')"
                        style="color: red; font-size: 10px;">kindly provide us valid email id</div>
                    <label class="ms-3" for="floatingInput">Email address</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control px-3" id="floatingInput" formControlName="phone"
                        placeholder="name@example.com">
                    <div class="px-3"
                        *ngIf="ticketForm.get('phone')?.touched && ticketForm.get('phone')?.hasError('minlength')"
                        style="color: red; font-size: 10px;">kindly use this format 91xxxxxxxxxx</div>
                    <label class="ms-3" for="floatingInput">Phone</label>
                </div>
                <div class="form-floating col-12 mb-3">
                    <textarea class="form-control px-3" placeholder="Leave a comment here" formControlName="address"
                        id="floatingTextarea"></textarea>
                    <label class="ms-3" for="floatingTextarea">Address</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <select class="form-select  px-3" id="floatingSelect" formControlName="serviceField"
                        aria-label="Floating label select example" (change)="filteredSubServices()">
                        <option selected value="">----- Select -----</option>
                        <option *ngFor="let field of serviceFields" value={{field.serviceFieldId}}>{{field.fieldName}}
                        </option>
                    </select>
                    <label class="ms-3" for="floatingSelect">Service Field</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <select class="form-select  px-3" id="floatingSelect" formControlName="subService"
                        aria-label="Floating label select example" (change)="filteredActualServices()">
                        <option selected value="">----- Select -----</option>
                        <option *ngFor="let subService of subServices" value={{subService.subServiceId}}>
                            {{subService.subServiceName}}</option>
                    </select>
                    <label class="ms-3" for="floatingSelect">Sub Service</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <select class="form-select  px-3" id="floatingSelect" formControlName="actualService"
                        aria-label="Floating label select example">
                        <option selected value="">----- Select -----</option>
                        <option *ngFor="let actualService of actualservices" value={{actualService.actualServiceId}}>
                            {{actualService.service}}</option>
                    </select>
                    <label class="ms-3" for="floatingSelect">Select The Service</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="number" class="form-control px-3" id="floatingInput" formControlName="areaInMeters"
                        placeholder="name@example.com">
                    <label class="ms-3" for="floatingInput">Area in Meters</label>
                </div>
                <div class="form-floating col-12 mb-3">
                    <textarea class="form-control px-3" formControlName="issueDescription"
                        placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label class="ms-3" for="floatingTextarea2">Issue In Detail</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                    <button class="btn btn-primary rounded-5" type="submit">Create a Ticket</button>
                </div>
            </form>
        </div>
    </div>
</section>