<section class="sectionA mt-5 pt-3">
    <div class="container mt-5 pt-5">
        <h4 class=" text-white">Get in Touch with Winged!</h4>
        <p id="textA" class="pt-3 fw-bolder">We're here to help you with all your service needs. Whether you have
            questions about our services, want to request a quote, or need assistance with an ongoing project, our team
            is ready to assist you. Here's how you can get in touch with us:
        </p>
    </div>
</section>



<section class="sectionB container mt-5 pt-5 ">
    <div class="row">
        <div id="TicketForm" class="col-md-6">
            <h1 class="mt-5 p-5 text-light fw-bolder">
                CONTACT INFORMATION:
            </h1>
            <div id="text1" class="p-5">
                <p><span>Phone: </span> +91 9966985834</p>
                <p> <span>Email: </span> winged11111@gmail.com</p>
                <p> <span>Address: </span> Bezawada Gardens, Yanam PY - 533464.</p>
                <p> <span>Hours of Operation: </span> Monday to Saturday / 9:00 AM - 9:00 PM</p>
            </div>
        </div>
        <div id="TicketForm" class="col-md-6 p-5">
            <form class="bg-light rounded-5 d-flex row p-4" (ngSubmit)="newTicket();reset()" action="">
                <div class="form-floating col-12 mt-3 mb-5">
                    <h1>Choose your service Here!</h1>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control" id="floatingInput" [(ngModel)]="ticket.customerName"
                        [ngModelOptions]="{standalone: true}" placeholder="name@example.com">
                    <label class="ms-3" for="floatingInput">Full Name</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control" id="floatingInput" [(ngModel)]="ticket.email"
                        [ngModelOptions]="{standalone: true}" placeholder="name@example.com">
                    <label class="ms-3" for="floatingInput">Email address</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <input type="email" class="form-control" id="floatingInput" [(ngModel)]="ticket.phone"
                        [ngModelOptions]="{standalone: true}" placeholder="name@example.com">
                    <label class="ms-3" for="floatingInput">Phone</label>
                </div>
                <div class="form-floating col-12 mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" [(ngModel)]="ticket.address"
                        [ngModelOptions]="{standalone: true}" id="floatingTextarea"></textarea>
                    <label class="ms-3" for="floatingTextarea">Address</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <select class="form-select" id="floatingSelect" [(ngModel)]="ticket.serviceField"
                        [ngModelOptions]="{standalone: true}" aria-label="Floating label select example">
                        <option selected value="">----- Select -----</option>
                        <option value="Electrical Services">Electrical Services</option>
                        <option value="Electronics Repair">Electronics Repair</option>
                        <option value="Mechanical Solutions">Mechanical Solutions</option>
                        <option value="Software Solutions">Software Solutions</option>
                        <option value="Carpentry Services">Carpentry Services</option>
                    </select>
                    <label class="ms-3" for="floatingSelect">Pick Service Field</label>
                </div>
                <div class="form-floating col-xxl-6 mb-3">
                    <select class="form-select" id="floatingSelect" [(ngModel)]="ticket.service"
                        [ngModelOptions]="{standalone: true}" aria-label="Floating label select example">
                        <option selected>----- Select -----</option>
                        <option value="Mobile">Mobile</option>
                        <option value="Laptop">Laptop</option>
                        <option value="Washing Machine">Washing Machine</option>
                        <option value="TV">TV</option>
                        <option value="Renovation">Renovation</option>
                    </select>
                    <label class="ms-3" for="floatingSelect">Pick The Service</label>
                </div>
                <div class="form-floating col-12 mb-3">
                    <textarea class="form-control" [(ngModel)]="ticket.issueDescription"
                        [ngModelOptions]="{standalone: true}" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label class="ms-3" for="floatingTextarea2">Issue In Detail</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                    <button class="btn btn-primary rounded-5" type="submit">Activate a Ticket</button>
                </div>
            </form>
        </div>
    </div>
</section>



<section class="sectionC mt-5 pt-5">
    <div class="row text-center">
        <div class="bg-light">
            <h2 style="color: #a2b9ff;">LOCATE US!</h2>
            <P class="text3">You can reach us here!</P>
        </div>
        <div class="col-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61134.22682451392!2d82.20888985460908!3d16.732380565929297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a381fd8f6cf57c9%3A0x35ba5f35d97ba721!2sYanam%2C%20Puducherry!5e0!3m2!1sen!2sin!4v1708507486010!5m2!1sen!2sin"
                height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
        </div>
    </div>
</section>